@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
*{
    box-sizing: border-box;
}
/*Contiene todo el fondo del blog*/
.main-header{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url(https://source.unsplash.com/Wd9fzw-Gztc);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Dousis', sans-serif;
    position: relative;
}
.main-nav{
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));      /*Se crea un fodo trasnparente*/
    height: 60px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 20px 40px;
    font-size: 1.3rem;
}
.main-nav{
    display: flex;
}
ul{
    display: flex;
    margin-left: auto;
    margin-right : 100px;
}
/*Hacer botones a los enlaces de arriba*/
ul li a:hover{
    background: rgba(0, 0, 255, 0.795);
}
/*Contiene todo el menu superior izquierdo*/
ul li a{
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.3rem;
    color: whitesmoke;
}
/*Este estilo es para el titulo y historia*/
.content-header_main{
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 15px 30px;
}

.content-header_main h1{
    font-size: 7rem;
    padding-bottom: 17px;
}
/*Formato de las letras del titulo y mas*/
.content-header_main p{
    font-size: 1.5rem;
    margin: 15px 30px;

}
/*Formato de las letras*/
.content-header_main a{
    font-size: 1.3rem;
    display: inline-block;
    padding: 15px 20px;
    background: rgba(0, 0, 255, 0.795);
    color: whitesmoke;

}
/*BOTON HISTORIA*/
.content-header a:hover{
    background: rgba(34, 34, 219, 0.795);
    border: 2px solid whitesmoke;
    padding: 13px 18px;
}

/*AQUI VAN LOS ESTILOS DE LA HISTORIA DE GALAPAGOS*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
*{
    box-sizing: border-box;
}

/*Contiene todo el fondo del blog*/
.fondo{
    background-image:linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.63)),url(https://source.unsplash.com/kXar5SprW2E);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 0.8cm;
    color: black;
    background: #efefef;
    font-family: sans-serif;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    display: flex;
    margin: auto;
}
.solitario{
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: inherit;
}
/**/

.seccion{
    clear: both;
    padding: 0;
    margin: 0;
}
.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child{
    margin-left: 0;
}

.span1{
    width: 50;
    position: center; 
}



/*Encabezado y navegación*/
.Enca{
    max-width: 100%;
    background-image: url(https://redpacifico.net/wp-content/uploads/2020/01/header01-1.jpg);
    padding: 2px;
    display: flex;
    height: 160px;
    
}
.TITULO_LOGO{
    margin-top: auto;
    font-style: italic;
    font-size: 2.5rem;
    margin-right: 10px;

}
.logo{
    align-items: center;
    margin-left: 100px;
    padding: 10px 30px;
    font-size: 1.3rem;

}

/*Publicaciones del blog HOJA 1*/

.contenedor{
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
}
.blog{
    background: #0085ba88;
    margin: 0 auto 2em auto;
    padding:  35px 30px;
    border-radius: 10px;
}
.contenido_blog{
    font-size: auto;
    margin-top: 8px;
    margin-bottom: 0;
    text-align: justify;
    display: block;
    font-family: "Droid Serif";
    font-weight: normal;
    float: none;
    color: white;
}
.titulo_blog{
    font-weight: 500px;
    font-size: 2.5em;
    margin-top: 5px;
    text-align: center;
}
.datos{
    font-size: 1em;
    font-weight: 400;
    color: white;
    text-decoration: underline;
    text-decoration-color: currentColor;
}
.frase{
    text-align: center;
    color: white;
    font-family:  "Droid Serif";

}
.imagenes{
    max-width: 30%;
    max-height: 30%;
    border-radius: 30px;
    margin: 0 10px 10px 0;
    border: 1px solid #999;
    display:inline-flex;
    
}

h3{
    display: block;
    font-family: "Droid Serif";
    font-weight: normal;
    float: none;
    font-size: 1.7em;
}



/*Segundo cuadro blog*/
.Titulo2{
    text-align: center;
    display: block;
    font-family: "Droid Serif";
    text-decoration: overline;
    font-size: 3em;
}
.contenido_blog1{
    text-align: center;
    color: white;
}
/*Tercera hoja de informacion*/
.contenedor-video{
    position: relative;
    overflow: hidden;
    padding-top: 56%;
    border: 3px solid black;
}
.contenedor-video iframe{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
}

/*Footer*/
footer{
    width: 100%;
    float: right;
    background-color: black ;
    color: white;
    padding: 5px;
  
}
footer h1{
    margin: 20px auto;
    text-align: center;
}
footer p{
    margin: auto;
    text-align: center;
}
.Autor{
    display: flex;
    
}
.ICONOARRIBA{
    float: left;
}
.ICONOINICIO{
    float: right;
}
/**/

